<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <title>sample</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script>
        var socket = io();
        var tmpRoom = "room1"
        socket.on('connect', function() {
            var res = JSON.stringify({
                "room": "room1",
                "username": ""
            });
            socket.emit("join", res)
            updateMessage("システム", "接続しました！");
        });
        socket.on("receive", function(msg) {
            console.log(typeof msg)
            let data = JSON.parse(msg)
            updateMessage(data.name, data.message)
        })

        // メッセージ欄を更新する
        function updateMessage(name, message) {
            let listName = document.createElement("li");
            let nameText = document.createTextNode(name);
            listName.appendChild(nameText);

            let messages = document.createElement("ul");

            let listMessage = document.createElement("li");
            let messageText = document.createTextNode(message);
            listMessage.appendChild(messageText);

            messages.appendChild(listMessage);

            listName.appendChild(messages);

            let ul = document.getElementById("messages");
            ul.appendChild(listName);
        }

        // サーバーにメッセージを送信する
        function send() {
            let sendName = document.getElementById("name");
            let sendMessage = document.getElementById("message");
            let room = document.getElementById("selectroom").value;
            let msg = sendMessage.value;
            let name = sendName.value;
            if (msg == "" || name == "") {
                return;
            }
            var res = JSON.stringify({
                "message": msg,
                "name": name,
                "room": room
            });
            socket.emit("json", res)
            sendMessage.value = "";
        }
        function enterRoom() {
            let name = document.getElementById("name").value;
            let room = document.getElementById("selectroom").value;
            if (name == "" || room == "") {
                return;
            }
            if (tmpRoom !== room ) socket.emit("leave", JSON.stringify({"room": tmpRoom, "username": name}))
            var res = JSON.stringify({
                "room": room,
                "username": name
            });
            socket.emit("join", res)
        }
    </script>
</head>

<body>
    <!-- 送信欄 -->
    <p>部屋を選択してください。</p>
    <select name="roomselect" id="selectroom">
        <option value="room1">ルーム1</option>
        <option value="room2">ルーム2</option>
    </select>
    <button onclick="enterRoom()">入室</button>
    <p>名前を入力してください。</p>
    <input type="text" id="name" />
    <p>メッセージを入力してください。</p>
    <input type="text" id="message" /><button onclick="send()">送信</button>

    <!-- メッセージ欄 -->
    <p>メッセージ一覧</p>
    <ul id="messages"></ul>

</body>

</html>